body {
  font-size: 13px;
}

.header {
  padding: 20px 30px 25px;
  vertical-align: middle;
  width: 100%;
}

.logo {
  display: inline-block;
  height: 30px;
  margin-right: 25px;
  position: relative;
  top: 5px;
  width: 92px;
}

.searchbar {
  border: 1px solid #dfe1e5;
  border-radius: 25px;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  width: 600px;
}

.searchbar:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

input {
  height: 24px;
}

input[name=Search] {
  float: left;
  line-height: 25px;
  width:500px;
}

input[name=Voice] {
  position: relative;
  left: 40px;
}

input[name=Submit] {
  position: relative;
  left: 50px;
}

path {
  fill: #4285f4;
}

.user {
  display: inline-block;
  position: absolute;
  right: 0;
  margin: 0 30px;
  padding: 5px 0;
}

.options {
  background: url('../imgs/i2_2ec824b0.png') no-repeat;
  background-position-x: -132px;
  background-position-y: -38px;
  background-size: 528px 68px;
  display:inline-block;
  height: 30px;
  margin-right: 15px;
  opacity: 0.55;
  width: 30px;
}

.options:hover {
  cursor: pointer;
  opacity: 1;
}

.avatar {
  background: url('../imgs/big-wave-surfing.jpg') no-repeat;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  height: 32px;
  width: 32px;
}

.nav {
  border-bottom: 1px solid #ddd;
  display: block;
  width: 100%;
}

.nav ul {
  position: relative;
  left: 150px;
}

.search-options {
  margin-left: 75px;
}

.nav ul,
.nav ul li,
.related ul,
.related ul li,
.pages ul li {
  display: inline-block;
}

.nav ul li {
  padding: 0 15px;
}

.nav ul li.active {
  padding-bottom: 15px;
  border-bottom: 3px solid #1A73E8;
}

.nav a {
  color: #777;
  line-height: 30px;
}

.nav a:hover {
  color: #333;
}

.nav ul li.active a {
  color: #1A73E8;
  font-weight: bold;
}

.content {
  margin: 15px 170px;
  width: 600px;
}

.small {
  color:#777;
  padding-bottom: 5px;
}

.result {
  color: #545454;
  line-height: 20px;
  padding: 15px 0;
}

.result a {
  color: #006621;
  display: block;
  font-size: 14px;
}

.result a:hover {
  text-decoration: none;
}

.result a h3 {
  color: #1a0dab;
  font-size: 18px;
  font-weight: normal;
  line-height: 125%;
}

.result a:hover h3 {
  text-decoration: underline;
}

.date {
  color: #777;
}

.down-arrow {
  position: relative;
  top: -2px;
}

.related {
  border: 1px solid #ddd;
  border-radius: 10px;
}

.related,
.searches {
  display: block;
  padding: 20px 20px 0;
  margin: 10px 150px 0;
  width: 600px;
}

.related ul li {
  margin: 10px;
  width: 75px;
}

.related .icon {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 75px;
  margin-bottom: 5px;
  width: 75px;
}

.codecademy {
  background-image: url('../imgs/related/codecademy.png');
}

.odin {
  background-image: url('../imgs/related/odin.png');
}

.w3schools {
  background-image: url('../imgs/related/w3.jpeg');
}

.freecode {
  background-image: url('../imgs/related/freecode.jpeg');
}

.mobirise {
  background-image: url('../imgs/related/mobirise.png');
}

.dreamweaver {
  background-image: url('../imgs/related/dreamweaver.png');
}

.googleweb {
  background-image: url('../imgs/related/googleweb.png');
}

.webnode {
  background-image: url('../imgs/related/webnode.png');
}

.spacer {
  margin-bottom: 30px;
}

.related h3,
.searches h3 {
  color: #222;
  font-size: 18px;
  font-weight: normal;
  line-height: 133%;
}

.feedback {
  display: block;
  font-size: 12px;
  font-style: italic;
  margin-left: 725px;
}

.feedback:hover,
.searches a:hover,
.pages a:hover {
  text-decoration: underline;
}

.searches ul {
  margin: 25px 0;
}

.searches ul li {
  font-size: 14px;
  margin: 10px 0;
}

.pages {
  margin-left: 300px;
}

.pages ul {
  width: 400px;
}

.pages ul li {
  background-image: url('../imgs/nav_logo299_hr.png');
  background-position: -74px 10px;
  background-repeat: no-repeat;
  background-size: 167px;
  padding-top: 55px;
  margin: 0 -1.5px;
  text-align: center;
  width: 20px;
}

.pages ul li:first-of-type {
  background-position: -24px 0;
  width: 30px;
}

.pages .cur {
  background-position: -53px 10px;
}

.pages ul li:last-of-type {
  background-position: -96px 10px;
  text-align: right;
  width: 70px;
}
